<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul class="menu">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ '/blog' | prepend: site.baseurl }}">Posts</a></li>
	  <li><a href="https://github.com/jppgks/resume/raw/master/resume.pdf">Download CV</a></li>
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
       You can <a href="m&#97;il&#116;o&#58;&#106;opp%65&#64;%&#55;&#50;&#118;r%69%65&#46;%63&#111;m">email</a> or <a href="&#116;&#101;&#108;&#58;&#43;&#51;&#50;&#52;&#57;&#56;&#50;&#51;&#55;&#52;&#54;&#57;">call</a> me.
      </span>
    </footer>
  </body>
</html>
